<div class="container">
    <div class="week">
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Week 1</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Monday</td>
                <td>Rest or cross-training</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Lactate threshold, 16 km (8 km @ HM pace)</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Recovery, 6 km</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>Medium-long run, 18 km</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>Rest or cross-training</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>General aerobic + speed, 11 km (8 x 100 m)</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Long run, 29 km</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Total</th>
                <th>80 km</th>
            </tr>
            </tfoot>
        </table>

        <hr>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Week 2</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Monday</td>
                <td>Rest or cross-training</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Recovery + speed, 11 km (6 x 100 m)</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Medium-long run, 19 km</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>Rest or cross-training</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>Lactate threshold, 16 km (10 km @ HM pace)</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Recovery, 8 km</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Long run, 32 km</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Total</th>
                <th>86 km</th>
            </tr>
            </tfoot>
        </table>

        <table class="u-full-width">
            <thead>
            <tr>
                <th>Week 3</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Monday</td>
                <td>Rest or cross-training</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>Recovery, 10 km</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>Medium-long run, 23 km</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>Recovery, 10 km</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>Rest or cross-training</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>Recovery + speed, 10 km (6 x 100 m)</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Long run, 26 km (19 km @ MT)</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Total</th>
                <th>79 km</th>
            </tr>
            </tfoot>
        </table>


    </div>
</div>
