<div class="container">
	<div class="week">
	<table class="u-full-width">
		<thead>
		<tr>
			<th>Week 1</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Monday</td>
			<td>Rest or cross-training</td>
		</tr>
		<tr>
			<td>Tuesday</td>
			<td>Lactate threshold, 16 km (8 km @ HM pace)</td>
		</tr>
		<tr>
			<td>Wednesday</td>
			<td>Recovery, 6 km</td>
		</tr>
		<tr>
			<td>Thursday</td>
			<td>Medium-long run, 18 km</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>Rest or cross-training</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>General aerobic + speed, 11 km (8 x 100 m)</td>
		</tr>
		<tr>
			<td>Sunday</td>
			<td>Long run, 29 km</td>
		</tr>
		</tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <th>80 km</th>
        </tr>
        </tfoot>
	</table>


	</div>
</div>
